<%- contentFor('HeaderCss') %> <%- contentFor('body') %>
<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-primary bg-soft">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Welcome Back !</h5>
                  <p>Sign in to continue to Skote.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img
                  src="/assets/images/profile-img.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="auth-logo">
              <a href="index" class="auth-logo-light">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img
                      src="/assets/images/logo-light.svg"
                      alt=""
                      class="rounded-circle"
                      height="34"
                    />
                  </span>
                </div>
              </a>

              <a href="index" class="auth-logo-dark">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img
                      src="/assets/images/logo.svg"
                      alt=""
                      class="rounded-circle"
                      height="34"
                    />
                  </span>
                </div>
              </a>
            </div>

            <div class="p-2">
              <form
                class="form-horizontal"
                action=""
                method="post"
                id="loginForm"
              >
                <div id="error"></div>
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    id="username"
                    placeholder="Enter Username"
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <div class="input-group auth-pass-inputgroup">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Enter password"
                      aria-label="Password"
                      id="password"
                      name="password"
                      aria-describedby="password-addon"
                    />
                    <button
                      class="btn btn-light"
                      type="button"
                      id="password-addon"
                    >
                      <i class="mdi mdi-eye-outline"></i>
                    </button>
                  </div>
                </div>

                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="remember-check"
                  />
                  <label class="form-check-label" for="remember-check">
                    Remember me
                  </label>
                </div>

                <div class="mt-3 d-grid">
                  <button
                    class="btn btn-primary waves-effect waves-light"
                    type="submit"
                  >
                    Log In
                  </button>
                </div>

                <div class="mt-4 text-center">
                  <a href="/forgotpassword" class="text-muted"
                    ><i class="mdi mdi-lock me-1"></i> Forgot your password?</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end account-pages -->
<%- contentFor('FooterJs') %>
<script>
  const setToken = (value) => {
    localStorage.setItem("accessToken", value);
  };

  $(document).ready(function () {
    // Handle form submission inside the modal
    $("#loginForm").submit(function (event) {
      event.preventDefault(); // Prevent the default form submission behavior

      var username = $("#username").val();
      var password = $("#password").val();

      // Example of submitting the form data to the backend (using AJAX)
      $.ajax({
        type: "POST",
        url: `/login`, // Adjust this to your API endpoint
        data: {
          username: username,
          password: password,
        },
        success: function (response) {
          setToken(response.user.token);
          // If login is successful, the backend will handle the token (via cookie or response)
          if (response.success) {
            window.location.href = "/dashboard"; // Redirect to dashboard after login
          }
        },
        error: function (error) {
          // If the error response contains JSON, you can handle it as follows:
          if (error.responseJSON) {
            toastr.error(
              error.responseJSON.message ||
                "An error occurred, please try again.",
              "Error"
            );
          } else {
            toastr.error("An error occurred, please try again.", "Error");
          }
        },
      });
    });
  });
</script>
